*.pyc
.ipynb_checkpoints/get_densities-checkpoint.py
.ipynb_checkpoints/make_scan-checkpoint.py
.ipynb_checkpoints/patch_factor-checkpoint.py
1mw-evn2-noraddeex/.BOUT.pid.0
1mw-evn2-noraddeex/BOUT.dmp.0.nc
1mw-evn2-noraddeex/BOUT.inp
1mw-evn2-noraddeex/BOUT.log.0
1mw-evn2-noraddeex/BOUT.restart.0.nc
1mw-evn2-noraddeex/BOUT.settings
1mw-evrd-patchnn-x/.BOUT.pid.0
1mw-evrd-patchnn-x/BOUT.dmp.0.nc
1mw-evrd-patchnn-x/BOUT.inp
1mw-evrd-patchnn-x/BOUT.log.0
1mw-evrd-patchnn-x/BOUT.restart.0.nc
1mw-evrd-patchnn-x/BOUT.settings
__pycache__/analysis.cpython-38.pyc
__pycache__/analysis.cpython-39.pyc
a-e1-2/BOUT.inp
a-e1-2/BOUT.settings
a-e1-3/BOUT.inp
a-e1-3/BOUT.settings
a-e1-4/BOUT.inp
a-e1-4/BOUT.settings
a-e1-5/BOUT.inp
a-e1-5/BOUT.settings
sd5-dc2-1/.BOUT.pid.0
sd5-dc2-1/BOUT.dmp.0.nc
sd5-dc2-1/BOUT.inp
sd5-dc2-1/BOUT.log.0
sd5-dc2-1/BOUT.restart.0.nc
sd5-dc2-1/BOUT.settings
sd5-dc2-10/BOUT.inp
sd5-dc2-10/BOUT.settings
sd5-dc2-3/BOUT.inp
sd5-dc2-3/BOUT.settings
sd5-dc2-5/BOUT.inp
sd5-dc2-5/BOUT.settings
sd5-dc2-7/BOUT.inp
sd5-dc2-7/BOUT.settings
